.forestTile {
    width:12.5vh;
    height:12.5vh;
    display: flex;
    float: left;
    background-color: rgb(64, 155, 37);
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}
#lake{
    background-image: url("https://imgur.com/A3PPHLY.jpg");
}
.filler{
    width:12.5vh;
    height:12.5vh;
    display:flex;
    float: left;
}
#board{
    width:100vh;
    height:100vh;
}

.row{
    height:12.5vh;
}
.tree{
    position: absolute;
    width:12.5vh;
    height:12.5vh;
    z-index: 0;
}
.fire{
    position: absolute;
    width:12.5vh;
    height:12.5vh;
    z-index: 10;
    display: flex;
}


#forest{
    background-image: url("assets/forest.jpeg");
    background-norepeat
}